<footer class="footer">
      <div class="container">
          <p class="footer-text">&copy; <a href="{{SITEURL}}">{{SITENAME}}</a> powered by <a href="https://getpelican.com/">pelican</a> and <a href="https://nodotcom.org">nikhil</a>&nbsp;(forked by <a href="https://falgon.github.io/roki/">roki</a>)</p>
            {%- if CC_LICENSE or CC_LICENSE_DERIVATIVES or CC_LICENSE_COMMERCIAL %}
              {% from 'includes/cc-license.html' import cc_license_mark %}
                <p><small>{{ cc_license_mark(cc_name=CC_LICENSE,derivatives=CC_LICENSE_DERIVATIVES,commercial=CC_LICENSE_COMMERCIAL,attr_markup=CC_ATTR_MARKUP,attr_props={'title':SITENAME,'name':article.author if article else AUTHOR,'url':SITEURL,'lang':DEFAULT_LANG}) }}</small></p>
            {% elif CUSTOM_LICENSE %}
              <p><small>{{ CUSTOM_LICENSE }}</small></p>
            {% endif %}
   </div>
</footer>
